* {
	/* outline: red 1px solid;  */
}

body {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-family: Verdana, Helvetica, Sans-Serif;
	display: flex;
	flex-direction: column;
}

#title {
	font-size: 3em;
	background-color: lightgreen;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0.2em;
}

header {
	/* border: 1px solid black; */
	border-radius: 15px;
	flex-shrink: 0;
	box-shadow: 3px 3px grey;
	background-image: -o-linear-gradient(bottom, royalblue 0%, dodgerblue 100%);
	background-image: -moz-linear-gradient(bottom, royalblue 0%, dodgerblue 100%);
	background-image: -webkit-linear-gradient(bottom, royalblue 0%, dodgerblue 100%);
	background-image: -ms-linear-gradient(bottom, royalblue 0%, dodgerblue 100%);
	background-image: linear-gradient(to bottom, royalblue 0%, dodgerblue 100%);
}

#input_area {	
	width: 100%;
	padding-top: 2em;
}

#input_controls {
}

#list_manipulation_controls {
	margin: 1em;	
}

#new_item_input {
	width: 15em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 1em;
	font-size: 1.5em;
	padding-left: 0.3em;
}

.button {
	font-size: 1.5em;
	border-radius: 15px;
}

#add_item_button {
}



#sort_button {
	float: left;
}

#clear_button {
	float: right;
}

#list_area {
	/* border: 1px solid black; */
	border-radius: 15px;
	margin-top: 1em;
	padding: 0.5em;
	min-height: 9em;
	overflow: auto;
	bottom: 1em;
	flex-grow: 1;
	box-shadow: 3px 3px grey;
	background-image: -o-linear-gradient(bottom, dodgerblue 0%, skyblue 100%);
	background-image: -moz-linear-gradient(bottom, dodgerblue 0%, skyblue 100%);
	background-image: -webkit-linear-gradient(bottom, dodgerblue 0%, skyblue 100%);
	background-image: -ms-linear-gradient(bottom, dodgerblue 0%, skyblue 100%);
	background-image: linear-gradient(to bottom, dodgerblue 0%, skyblue 100%);
}

/* hide the scrollbar but still allow scrolling */
#list_area::-webkit-scrollbar { 
    display: none; 
}


.item_container {	
	height: 2em;
	border: none;
	border-radius: 15px;
	background-color: white;
	margin: 0.7em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	display: flex;
	align-items: center;
	box-shadow: 3px 3px grey;
}

.item_name {
	margin-left: 0.7em;
	margin-right: 0.7em;
	flex-grow: 1;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	line-height: 2em;
	text-overflow: ellipsis;
	font-family: Courier, monospace;
}

.crossed_off {
	text-decoration: line-through;
	color: grey;
}

.list_item_icon {
	flex-shrink: 0;
	height: 80%;
}

.checkbox_image:hover {
	background-color: lightgreen;
}

.checkbox_blank_image {	
}

.checkbox_checked_image {
	display: none;
}

.delete_item_image:hover {
	height: 90%;
}

.delete_item_image:active {
	height: 80%;
}